@model OnlineStore.Models.Cart
@*<link rel="stylesheet" asp-href-include="css/style.css" />*@

<div class="">
    @*<h4 class="badge-info">@ViewContext.HttpContext.Request.Path</h4>*@
    @if (Model.Lines.Count() > 0)
    {
        <h5 class="navbar-text">
            <b>Your cart:</b>
            @Model.Lines.Sum(x => x.Quantity) item(s)
            @Model.ComputeTotalValue().ToString("c")
        </h5>

        if (ViewContext.HttpContext.Request.Path != "/Cart/Index")
        {
            <a class="btn btn-sm btn-secondary navbar-btn"
               asp-controller="Cart" asp-action="Index"
               asp-route-returnurl="@OnlineStore.Infrastructure.UrlExtensions.PathAndQuery(ViewContext.HttpContext.Request)">
                checkout
            </a>
        }
    }

</div>

@*<div>
        @if (Model.Lines.Count() > 0)
        {
            <div>
                <b>Your cart:</b>
                @Model.Lines.Sum(x => x.Quantity)
                @if (Model.Lines.Sum(x => x.Quantity) == 1)
                {
                    @:item
                }
                else
                {
                    @:items
                }
            </div>
            <div>
                <b>Total:</b>
                @Model.ComputeTotalValue().ToString("c")
            </div>
        }
        <a asp-controller="Cart" asp-action="Index"
           asp-route-returnurl="@OnlineStore.Infrastructure.UrlExtensions.PathAndQuery(ViewContext.HttpContext.Request)">
            <i>checkout</i>
        </a>
    </div>*@