@*<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th {
        text-align: left;
    }
</style>*@

@model OnlineStore.Models.Product


<div style="margin-bottom: 15px;">
    <div>
        <b>@Model.Name</b>
        <br><img src="@Model.ImageUrl" alt="@Model.Name" title="@Model.Name" height="72" width="72" />
        @*<span style="float:right"> @Model.Price.ToString("c") </span>*@
        <br>@Model.Description
        <br>@Model.Price.ToString("c")
    </div>

    <form id="@Model.ProductID" asp-action="ProductPage"
          asp-controller="Product" method="post">
        <input type="hidden" asp-for="ProductID" />
        <input type="hidden" name="returnUrl"
               value="@OnlineStore.Infrastructure.UrlExtensions.PathAndQuery(ViewContext.HttpContext.Request)" />
        <button type="submit">
            Details
        </button>
    </form>

    @*<a asp-action="Details"
           asp-controller="Product"
           asp-all-route-data="@Model.Name">
           go to details
        </a>*@

    <form id="@Model.ProductID" asp-action="AddToCart"
          asp-controller="Cart" method="post">
        <input type="hidden" asp-for="ProductID" />
        <input type="hidden" name="returnUrl"
               value="@OnlineStore.Infrastructure.UrlExtensions.PathAndQuery(ViewContext.HttpContext.Request)" />
        <button type="submit">
            Add to cart
        </button>
    </form>
</div>