@*the view will receive a sequence of Product
    objects from the action method as its model data*@
@model ProductsListViewModel

@foreach (var p in Model.Products)
{
    @Html.Partial("ProductSummary", p)
    // former, to delete:
    //<div style="margin-bottom: 15px;">
    //    @p.Name @p.Price.ToString("c")
    //    <br>@p.Description
    //</div>
}

<div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-secondary"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>