@model OnlineStore.Models.Product

<h2>@Model.Name</h2>

<br><img src="@Model.ImageUrl" alt="@Model.Name" title="@Model.Name" height="275" width="275" />
<img src="@Model.ImageUrl1" alt="@Model.Name" title="@Model.Name" height="275" width="275" />
<img src="@Model.ImageUrl2" alt="@Model.Name" title="@Model.Name" height="275" width="275" />
<br>@Model.Description
<h2>
    <span class="badge badge-default badge-primary" style="float:right">
        @Model.Price.ToString("c")
    </span>
    <span class="badge badge-
                    @(Model.Quantity == 0 ? "badge-danger" : "")
                    @((Model.Quantity > 0 && Model.Quantity <= 10) ? "badge-warning" : "")
                    @(Model.Quantity > 10 ? "badge-success" : "")
                    badge-primary" style="float:right">
        @(Model.Quantity == 0 ? "" : @Model.Quantity.ToString())
        @(Model.Quantity == 0 ? "not available" : "available")
    </span>
</h2>

@if (Model.Quantity != 0)
{
    <form id="@Model.ProductID" asp-action="AddToCart"
          asp-controller="Cart" method="post">
        <input type="hidden" asp-for="ProductID" />
       
        <input type="hidden" name="returnUrl"
               value=@ViewBag.ReturnUrl />
        <button type="submit"
                class="btn btn-success btn-sm pull-right" style="float:right">
            Add to cart
        </button>
    </form>
}

