<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th {
        text-align: left;
    }
</style>

@model IEnumerable<OnlineStore.Models.Order>
@{
    ViewBag.Title = "Orders";
    //specify a new layout (override the layout specified in the _ViewStart.cshtml)
    Layout = "_AdminLayout";
}

@if (Model.Count() > 0)
{
    <table class="table table-bordered table-striped">
        <tr><th>Name</th><th>Zip</th><th colspan="2">Details</th><th></th></tr>
        @foreach (OnlineStore.Models.Order o in Model)
        {
            <tr>
                <td>@o.Name</td>
                <td>@o.Zip</td>
                <th>Product</th>
                <th>Quantity</th>
                <td>
                    <form asp-action="MarkShipped" method="post">
                        <input type="hidden" name="orderId" value="@o.OrderID" />
                        <button type="submit" class="btn btn-sm btn-danger">
                            ship
                        </button>
                    </form>
                </td>
            </tr>
            @foreach (OnlineStore.Models.CartLine line in o.Lines)
            {
                <tr>
                    <td colspan="2"></td>
                    <td>@line.Product.Name</td>
                    <td>@line.Quantity</td>
                    <td></td>
                </tr>
            }
        }
    </table>
}
else
{
    <div class="text-center">no unshipped orders</div>
}